SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
META_APP_ID=
META_APP_SECRET=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
META_REDIRECT_URI=
META_AUTH_MODE=facebook
META_GRAPH_API_VERSION=v25.0
